<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Best of</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body>
  <header th:insert="~{fragments :: navbar}" />

  <main class="container">

    <th:block th:if="${isFound}">
      <h1 th:text="'One of the best ' + ${title} + ' of the year'" class="text-center" />

      <th:block th:insert="~{fragments :: detail-card(${item})}" />
    </th:block>


    <th:block th:unless="${isFound}">
      <h1 th:text="'Sorry. No ' + ${title} + ' found. :('" class="text-center" />
    </th:block>


  </main>

  <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" />

</body>

</html>