<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Best of</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body>
  <header>
    <th:block th:if="${detail.length() > 0}">
      <h1 th:text="'One of the best ' + ${title} + ' of the year by ' + ${name}" />
    </th:block>

    <th:block th:unless="${detail.length() > 0}">
      <h1 th:text="'Sorry. No ' + ${title} + ' found. :('" />
    </th:block>
  </header>

  <body>
    <p th:text="${detail}" />

    <h2 class="text-body-danger text-decoration-line-through">prova bootstrap</h2>
  </body>
</body>

</html>