<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

  <!-- navbar fragment -->
  <nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Best of</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/songs">Songs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- list fragment -->
  <div th:fragment="list-card(list)" class="card mx-auto" style="width: 50%;">
    <ul class="list-group list-group-flush text-center ">
      <li th:each="item : ${list}" th:text="${item.title}" class="list-group-item" />
    </ul>
  </div>


  <!-- detail card fragment -->
  <div th:fragment="detail-card(item)" class="card mx-auto" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 th:text="${item.title}" class="card-title text-center" />
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat quasi dolores soluta iure
        cumque aspernatur tempore hic rem, architecto minus odit vero reprehenderit, accusantium quaerat, atque modi
        natus culpa neque.</p>
    </div>
  </div>


</body>

</html>